/* Estilos base y utilitarios para toda la app */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilos globales de Material que quieras sobreescribir */
.mat-typography {
  color: #2D2926; /* Color de texto principal McDonald's */
}